<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6ItpwnbohPcop57W0Jw4fegqv9KiBIX4</string>
	<key>GCM_SENDER_ID</key>
	<string>749175434623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGpt</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-13512</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-13512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749175434623:ios:d89c4051fb6c0cb1453e4a</string>
</dict>
</plist>